@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, h1 {
  font-family: 'Ubuntu', sans-serif !important;;
}

hr.pretty {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

header {
  background: #242548;
  border: 0px;
  font-weight: normal;
}
header a {
  color:#fff;
}

header nav {
  padding: 0px;
}

header li:hover, header .current{
  background: #4ae4d9;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.cheats {
  min-width: 1200px;
}

.cheats tt {
  border-left: 2px solid #871c6f;
  padding-right: 5px;
  padding-left: 5px;
  display: inline-block;
  background: #e7f2fa;
}

.cheats .section {
  min-width: 350px;
  position: relative;
  float: left;
  margin-right: 50px;
}
.cheats .section h1 {
  box-shadow: 2px 3px;
  text-align: center;
  font-weight: 100;
  background-color: #ffdd57;
}
