<header>
  <nav>
    <ul>
      {{ $title := lower .Title }}
      {{ $section := lower .Section }}
      <li class="pull-left {{ if .IsHome }}current{{ end }}">
        <a href="{{ .Site.BaseURL }}">/home/{{ lower .Site.Params.homeDir }}</a>
      </li>
      {{ range .Site.Menus.main }}
      {{ $name := lower .Name }}
      <li class="pull-left {{ if eq $name $title }}current{{ else if eq $section $name }}current{{ end }}">
        <a href="{{ .URL }}">~/{{ lower .Name }}</a>
      </li>
      {{end}}
  
      <li class="pull-right">
	<a href="{{ .RSSlink }}"><i class="fa fa-rss"></i></a>
        <a href="https://twitter.com/{{.Site.Params.TwitterID}}" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/{{.Site.Params.GoogleplusID}}/about" title="Google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
        <a href="https://github.com/{{.Site.Params.GithubID}}" title="GitHub"><i class="fa fa-github-square" aria-hidden="true"></i></a>
        <a href="http://linkedin.com/in/{{.Site.Params.LinkedInID}}" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
      </li>

    </ul>
  </nav>
</header>
