      <!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
      <style type="text/css" media="screen">
  .gr_custom_container_1475678948 {
    /* customize your Goodreads widget container here*/
    border: 0px solid gray;
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
    
  }
  .gr_custom_header_1475678948 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    font-size: 80%;
    display: none;
  }
  .gr_custom_each_container_1475678948 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 4px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1475678948 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 39px;
  }
  .gr_custom_author_1475678948 {
    /* customize your author names here */
    font-size: 10px;
  }
  .gr_custom_tags_1475678948 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1475678948 {
    /* customize your rating stars here */
    float: right;
  }
</style>

      <div id="gr_custom_widget_1475678948">
          <div class="gr_custom_container_1475678948">
    <h2 class="gr_custom_header_1475678948">
    <a style="text-decoration: none;" href="https://www.goodreads.com/review/list/5870348-tornike?shelf=it-reading-list&amp;utm_medium=api&amp;utm_source=custom_widget">Reading List</a>
    </h2>
      <div class="gr_custom_each_container_1475678948">
          <div class="gr_custom_book_container_1475678948">
            <a title="The Devops 2.0 Toolkit" href="https://www.goodreads.com/review/show/1774659817?utm_medium=api&amp;utm_source=custom_widget"><img alt="The Devops 2.0 Toolkit" border="0" src="https://d.gr-assets.com/books/1473402862s/31863104.jpg" /></a>
          </div>
          <div class="gr_custom_title_1475678948">
            <a href="https://www.goodreads.com/review/show/1774659817?utm_medium=api&amp;utm_source=custom_widget">The Devops 2.0 Toolkit</a>
          </div>
          <div class="gr_custom_author_1475678948">
            by <a href="https://www.goodreads.com/author/show/14282997.Viktor_Farcic">Viktor Farcic</a>
          </div>
          <div class="gr_custom_tags_1475678948">
            tagged:
            it-reading-list
          </div>
      </div>
      <div class="gr_custom_each_container_1475678948">
          <div class="gr_custom_book_container_1475678948">
            <a title="Leading the Transformation: Applying Agile and DevOps Principles at Scale" href="https://www.goodreads.com/review/show/1774660067?utm_medium=api&amp;utm_source=custom_widget"><img alt="Leading the Transformation: Applying Agile and DevOps Principles at Scale" border="0" src="https://d.gr-assets.com/books/1442489547s/26050453.jpg" /></a>
          </div>
          <div class="gr_custom_title_1475678948">
            <a href="https://www.goodreads.com/review/show/1774660067?utm_medium=api&amp;utm_source=custom_widget">Leading the Transformation: Applying Agile and DevOps Principles at Scale</a>
          </div>
          <div class="gr_custom_author_1475678948">
            by <a href="https://www.goodreads.com/author/show/5841524.Gary_Gruver">Gary Gruver</a>
          </div>
          <div class="gr_custom_tags_1475678948">
            tagged:
            it-reading-list
          </div>
      </div>
      <div class="gr_custom_each_container_1475678948">
          <div class="gr_custom_book_container_1475678948">
            <a title="UNIX and Linux System Administration Handbook" href="https://www.goodreads.com/review/show/1774661350?utm_medium=api&amp;utm_source=custom_widget"><img alt="UNIX and Linux System Administration Handbook" border="0" src="https://d.gr-assets.com/books/1415581344s/8772005.jpg" /></a>
          </div>
          <div class="gr_custom_title_1475678948">
            <a href="https://www.goodreads.com/review/show/1774661350?utm_medium=api&amp;utm_source=custom_widget">UNIX and Linux System Administration Handbook</a>
          </div>
          <div class="gr_custom_author_1475678948">
            by <a href="https://www.goodreads.com/author/show/193419.Evi_Nemeth">Evi Nemeth</a>
          </div>
          <div class="gr_custom_tags_1475678948">
            tagged:
            it-reading-list
          </div>
      </div>
      <div class="gr_custom_each_container_1475678948">
          <div class="gr_custom_book_container_1475678948">
            <a title="Site Reliability Engineering: How Google Runs Production Systems" href="https://www.goodreads.com/review/show/1774661802?utm_medium=api&amp;utm_source=custom_widget"><img alt="Site Reliability Engineering: How Google Runs Production Systems" border="0" src="https://d.gr-assets.com/books/1459115220s/27968891.jpg" /></a>
          </div>
          <div class="gr_custom_title_1475678948">
            <a href="https://www.goodreads.com/review/show/1774661802?utm_medium=api&amp;utm_source=custom_widget">Site Reliability Engineering: How Google Runs Production Systems</a>
          </div>
          <div class="gr_custom_author_1475678948">
            by <a href="https://www.goodreads.com/author/show/14705355.Betsy_Beyer">Betsy Beyer</a>
          </div>
          <div class="gr_custom_tags_1475678948">
            tagged:
            to-read and it-reading-list
          </div>
      </div>
  <br style="clear: both"/>
  <center>
    <a href="https://www.goodreads.com/"><img alt="goodreads.com" style="border:0" src="https://www.goodreads.com/images/widget/widget_logo.gif" /></a>
  </center>
  <noscript>
    Share <a href="https://www.goodreads.com/">book reviews</a> and ratings with Tornike, and even join a <a href="https://www.goodreads.com/group">book club</a> on Goodreads.
  </noscript>
  </div>

      </div>
      <script src="https://www.goodreads.com/review/custom_widget/5870348.Reading%20List?cover_position=left&cover_size=small&num_books=5&order=a&shelf=it-reading-list&show_author=1&show_cover=1&show_rating=0&show_review=1&show_tags=1&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=none&widget_id=1475678948&widget_text_color=000000&widget_title_size=medium&widget_width=full" type="text/javascript" charset="utf-8"></script>
