<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  
  {{ partial "head.html" . }}
</head>

<body>
  
  {{ partial "header.html" . }}

  <div class="content" style="max-width: 100%;">

<center class="setup">
			<a href="http://ubuntu.com/">
				<img alt="Ubuntu" title="Ubuntu" src="/img/setup/ubuntu.png"/>
			</a>
			<a href="http://i3wm.org/">
				<img alt="i3wm" title="i3wm" src="/img/setup/i3wm.png"/>
			</a>
			<a href="http://fishshell.com/">
				<img alt="Fish" title="Fish" src="/img/setup/fish.png"/>
			</a>
			<a href="http://neovim.io/">
				<img alt="NeoVim" title="NeoVim" src="/img/setup/neovim.png"/>
			</a>
			<a href="http://kakoune.org/">
				<img alt="Kakoune" title="Kakoune" src="/img/setup/kakoune.png"/>
			</a>

			<a href="https://tmux.github.io/">
				<img alt="Tmux" title="Tmux" src="/img/setup/tmux.png"/>
			</a>
			<a href="https://github.com/akhodakivskiy/VimFx">
				<img alt="VimFx" title="VimFx" src="/img/setup/vimfx.png"/>
      </a>

</center>

  </div>
  {{ partial "footer.html" . }}
  {{ partial "analytics.html" . }}
</body>

</html>
