<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  
  {{ partial "head.html" . }}
</head>

<body>
  
  {{ partial "header.html" . }}
  <div class="content" style="max-width: 100%">
	<h3 style="font-family: initial">to read</h3>
	<hr class="pretty">
	<div style="width: 50%; margin-left: auto; margin-right: auto">
		{{ partial "to_read" . }}
	</div>
	<h3 style="font-family: initial">starred</h3>
	<hr class="pretty">
	<div style="width: 50%; margin-left: auto; margin-right: auto">
		{{ partial "favorite" . }}
	</div>
   </div>
  
  {{ partial "footer.html" . }}
  
  {{ partial "analytics.html" . }}

</body>

</html>
